:root {
    --color-cyan: #95e1d3;
    /* #95e1d3 */
    --color-marcala: #f38181;
    /* #f38181 */
    --color-gray: #999999;
    /* #999999 */
    --color_light-gray: #cccccc;
    /* #cccccc */
    --color-black: #333333;
    /* #333333 */
    --color-yellow: #fce38a;
    /* #fce38a */
}