@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&subset=cyrillic');
* {
    font-family: 'Playfair Display', serif;
    padding: 0px;
    margin: 10px 0px;
}

.menu-main-item {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;
    width: 180px;
    margin: 10px;
    border: 1px solid rgba(192, 192, 192, 0);
}

.menu-main-list {
    margin: auto;
    width: fit-content;
}

.menu-main-item:hover {
    border: 1px solid rgba(128, 128, 128, 0.6);
    box-shadow: 3px 3px 6px 3px rgba(128, 128, 128, 0.4);
    font-weight: bold;
}

a {
    color: rgba(64, 64, 64, 0.9);
    text-decoration: none;
    font-size: 20px;
}

.main-articles {
    width: 1100px;
    margin: auto;
    text-align: center;
}

.article-smoll {
    display: inline-block;
    box-sizing: border-box;
    text-align: left;
    width: 470px;
    margin: 50px 10px;
    padding: 25px;
    border: 1px solid rgba(192, 192, 192, 0.0);
}

.article-smoll:hover {
    border: 1px solid rgba(128, 128, 128, 0.6);
    box-shadow: 3px 3px 6px 3px rgba(128, 128, 128, 0.4);
}

.rubric {
    margin-top: 20px;
    text-transform: uppercase;
}

.rubric>a {
    font-family: Calibri, sans-serif;
    color: rgba(128, 128, 128, 0.8);
}

h2 {
    margin: 20px 0px;
    font-size: 28px;
}

.footer-main {
    margin: auto;
    width: fit-content;
}

.buttons {
    display: inline-block;
    text-align: center;
    line-height: 60px;
    width: 180px;
    margin: 10px;
    border: 1px solid rgba(128, 128, 128, 0.6);
}

.buttons:hover {
    border: 1px solid rgba(64, 64, 64, 0.8);
    box-shadow: 3px 3px 6px 3px rgba(128, 128, 128, 0.4);
    font-weight: bold;
}