    @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:300,400,700&subset=cyrillic,cyrillic-ext');
    * {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        /*        outline: 1px solid black; */
    }
    
    body {
        width: 1140px;
        margin: auto;
        padding: 0px;
    }
    /*  Зачистка для контейнеров, содержащих float-элементы. Псевдоэлемент, последний внутри контейнера, определит его высоту.  */
    
    .clearfix::after {
        content: "";
        clear: both;
        display: block;
    }
    
    nav.mmenu {
        padding: 30px 0px;
    }
    
    a.logo {
        float: left;
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        line-height: 30Px;
        text-align: left;
        color: rgb(85, 82, 82);
        margin: 0Px 15Px;
        text-decoration: none;
    }
    
    a.logo::first-letter {
        font-weight: bold;
        color: rgb(26, 188, 156);
    }
    
    ul.mmenu {
        float: right;
        height: 30px;
    }
    
    li.mmenu {
        float: left;
        list-style-type: none;
        line-height: 30Px;
        padding: 0px 15px;
        margin-left: 10Px;
    }
    
    li.mmenu:hover {
        box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.6);
    }
    
    a.mmenu {
        color: rgb(85, 82, 82);
        font-size: 14px;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        text-decoration: none;
    }
    
    li.mmenu:hover>a.mmenu {
        color: rgb(26, 188, 156);
    }
    
    h2.section {
        display: block;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 48px;
        color: rgb(81, 81, 81);
        text-align: center;
        line-height: 1;
        margin: 50Px auto 0px auto;
    }
    
    h2.section::after {
        content: "";
        display: block;
        width: 164px;
        height: 7px;
        background-color: rgb(26, 188, 156);
        margin: 20Px auto 50px auto;
    }
    
    section.shop {
        padding: 30Px 0Px;
    }
    
    div.item {
        float: left;
        width: 255px;
        height: 322px;
        margin: 30px 15px;
    }
    
    div.underline {
        background-color: rgb(50, 50, 50);
        height: 40px;
        margin-top: -4px;
    }
    
    div.item:hover {
        box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.6);
    }
    
    div.item:hover>div.underline {
        background-color: rgb(26, 188, 156);
    }
    
    div.name {
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        color: rgb(255, 255, 255);
        float: left;
        text-transform: uppercase;
        line-height: 40px;
        padding-left: 14Px;
        width: fit-content;
    }
    
    div.price {
        float: right;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        color: rgb(255, 255, 255);
        background-color: rgba(255, 255, 255, 0.439);
        margin-left: auto;
        line-height: 40px;
        width: 54px;
        text-align: center;
    }
    
    section.blog {
        padding: 30Px 0Px;
    }
    
    article.article-smol {
        float: left;
        width: 367px;
        height: 520px;
        margin: 20px 5px;
        padding: 10px;
    }
    
    article.article-smol:hover {
        box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.6);
    }
    
    h3.article-smol {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        color: rgb(85, 82, 82);
        line-height: 1.444;
        text-align: left;
        margin-bottom: 15Px;
    }
    
    h3.article-smol::after {
        content: "";
        display: block;
        width: 136px;
        height: 3px;
        background-color: rgb(78, 198, 171);
        margin: 15Px auto 15px 0Px;
    }
    
    p.article-smol {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        color: rgb(85, 82, 82);
        line-height: 1.857;
        text-align: left;
        margin: 0Px;
        max-height: 80Px;
    }
    
    nav.button {
        width: 159px;
        height: 51px;
        border-radius: 3px;
        background-color: rgb(78, 198, 171);
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.39);
        padding: 16Px 36Px;
        margin: 16Px 0Px;
    }
    
    a.read-more {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        line-height: 1.12;
        color: rgb(255, 255, 255);
        text-align: center;
        text-decoration: none;
    }
    
    nav.button:hover {
        box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.6);
    }
    
    nav.button:hover>a.read-more {
        font-weight: bold;
    }