.console {
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-style: italic;
  font-size: 16px;
  text-align: left;
  min-width: 80%;
  padding: 5px 20px;
  background-color: aquamarine;
  box-shadow: 2px 2px 8px 2px blue;
  margin: 1vh auto;
}

.title {
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2vh;
}

.title__task {
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1vh;
}

.wrp-task,
.wrp-task-1,
.wrp-task-2,
.wrp-task-3,
.wrp-task-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  max-width: 60vw;
  margin: auto;
  margin-bottom: 2vh;
  box-shadow: 2px 2px 8px 2px hsla(240, 100%, 50%, 0.6);
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: 16px;
}

.wrp-task-2 {
  flex-direction: column;
}


/* Дополнительное задание 1 */

.button {
  display: inline-flex;
  padding: 16px 32px;
  /* border: none; */
  margin: 0 4px;
  border-radius: 2px;
  font-size: 16px;
  outline: 0;
  text-transform: uppercase;
  font-weight: 400;
  font-family: inherit;
  background-color: #f44336;
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.button:active {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}


/* Дополнительное задание 3 */

.timer {
  padding: 10px;
  text-align: center;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.4);
  color: #212121;
  border-radius: 2px;
  max-width: 80%;
  margin: auto;
}

.clockface,
.time {
  margin: 20px auto;
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: 80px;
  /* font-weight: 600; */
  font-style: italic;
  text-align: center;
}

.timer-btn,
.btn {
  display: inline;
  text-transform: uppercase;
  border: 0;
  background-color: darkblue;
  color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 28px;
  border-radius: 2px;
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-weight: bold;
  margin: 10px 20px;
  width: 180px;
}

.active {
  background-color: hsl(240, 100%, 60%);
}

.stored-time {
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-style: italic;
  font-size: 16px;
  text-align: left;
  /* width: 80px; */
  padding: 3px 10px;
  background-color: aquamarine;
  box-shadow: 1px 1px 4px 1px blue;
  margin: 3px 10px 3px 10px;
  list-style: none;
}

.laps {
  display: flex;
  flex-wrap: wrap;
}